<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>/member/list.html</title>
</head>
<body>
	<div class="container">
		<a th:href="@{/member/insertform}">회원추가</a>
		<h3>회원 목록입니다</h3>
		<table>
			<thead>
				<tr>
					<th>번호</th>
					<th>이름</th>
					<th>주소</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tmp : ${list}">
					<td th:text="${tmp.num}"></td>
					<td th:text="${tmp.name}"></td>
					<td>[[${tmp.addr}]]</td>
					<td>
						<a th:href="@{/member/delete(num=${tmp.num})}">삭제</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>







