<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>/templates/sub/inc.html</title>
</head>
<body>
	<div class="container">
		<h3>본문 내용입니다</h3>
		<ul>
			<li>하나</li>
			<li>두울</li>
		</ul>
	</div>
	<!-- insert 하면 이 div 안에 include 된 내용이 들어 간다 -->
	<div th:insert="~{/include/footer :: one}"></div>
	
	<!-- replace 하면 이 div 를 대체해서 include 된 내용이 들어 간다 -->
	<div th:replace="~{/include/footer :: one}"></div>

	<div th:replace="~{/include/footer :: two}"></div>
	
	<div th:replace="~{/include/footer :: myFooter('hi footer')}"></div>
	
	<div th:replace="~{/include/footer2}"></div>
</body>
</html>














